lead-engine-workflow-export.json
{"updatedAt":"2026-03-23T01:19:25.838Z","createdAt":"2026-03-21T03:09:15.843Z","id":"yoFumIpVN3yHSrIx","name":"WebMind — Lead Engine","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-capture","responseMode":"responseNode","options":{}},"id":"node-webhook","name":"Lead Capture Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"2eefb58c-ab57-4cad-99c4-d61608f09c94"},{"parameters":{"jsCode":"const body = $input.first().json.body ?? $input.first().json;\nconst { name, email, phone, company, message } = body;\nif (!name || !email || !message) throw new Error('Missing required fields: name, email, message');\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) throw new Error('Invalid email format');\nif (body.website) throw new Error('Spam detected');\nreturn [{ json: { name, email, phone: phone||'', company: company||'', message } }];"},"id":"node-validate","name":"Validate Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 300, \"messages\": [{ \"role\": \"user\", \"content\": \"B2B lead qualification for a digital automation agency. Reply ONLY with valid JSON: {\\\"score\\\": \\\"Hot|Warm|Cold\\\", \\\"reason\\\": \\\"one sentence\\\", \\\"intent\\\": \\\"one sentence\\\"}\\n\\nHot = clear business need + decision-maker\\nWarm = interest but vague\\nCold = no clear intent\\n\\nName: {{ $json.name }}\\nCompany: {{ $json.company }}\\nMessage: {{ $json.message }}\" }] }","options":{}},"id":"node-qualify","name":"AI Lead Qualification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,304],"credentials":{"anthropicApi":{"id":"ce1nWiRGSuHpfrze","name":"Anthropic account"}}},{"parameters":{"jsCode":"const content = $input.first().json.content[0].text;\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = { score: 'Warm', reason: 'AI parse error - manual review needed', intent: 'Unknown' }; }\nconst lead = $('Validate Fields').first().json;\nreturn [{ json: { ...lead, score: parsed.score, reason: parsed.reason, intent: parsed.intent, qualified_at: new Date().toISOString() } }];"},"id":"node-parse","name":"Parse AI Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFknzmZRW97vPCE","mode":"id"},"table":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","Email":"={{ $json.email }}","Phone":"={{ $json.phone }}","Company":"={{ $json.company }}","Message":"={{ $json.message }}","Score":"={{ $json.score }}","Reason":"={{ $json.reason }}","Intent":"={{ $json.intent }}","Qualified_At":"={{ $json.qualified_at }}"},"matchingColumns":[],"schema":[]},"options":{"typecast":true}},"id":"node-crm","name":"CRM — Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1168,304],"credentials":{"airtableTokenApi":{"id":"8R0QX9LyMuQ7EfzD","name":"Airtable Personal Access Token account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.score }}","rightValue":"Cold","operator":{"type":"string","operation":"notEquals"}}]},"renameOutput":true,"outputKey":"Hot_or_Warm"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.score }}","rightValue":"Cold","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Cold"}]},"options":{}},"id":"node-route","name":"Route by Score","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1408,304]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"leads-chauds","mode":"name"},"text":"=*New lead — {{ $json.score }}*\n\n*{{ $json.name }}* | {{ $json.company }}\n{{ $json.email }} | {{ $json.phone }}\n\n*Intent:* {{ $json.intent }}\n*Reason:* {{ $json.reason }}\n*Message:* {{ $json.message }}\n\n_Qualified at {{ $json.qualified_at }}_","otherOptions":{}},"id":"node-slack","name":"Slack Sales Alert","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1648,64],"webhookId":"a4218133-a09e-4621-b406-e139074abe99","credentials":{"slackApi":{"id":"2A4Lj5Qm3bQzB9c0","name":"Slack account"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst phone = data.phone;\nif (!phone) {\n  return [{ json: { ...data, sms_status: 'skipped_no_phone' } }];\n}\nconst accountSid = $env.TWILIO_ACCOUNT_SID;\nconst authToken = $env.TWILIO_AUTH_TOKEN;\nconst messagingServiceSid = $env.TWILIO_MESSAGING_SERVICE_SID;\nconst msgBody = 'Bonjour ' + data.name + ', merci pour votre interet ! Notre equipe vous contacte sous 60 min. Reservez : https://cal.com/webmind';\nconst auth = Buffer.from(accountSid + ':' + authToken).toString('base64');\nconst result = await $helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.twilio.com/2010-04-01/Accounts/' + accountSid + '/Messages.json',\n  headers: {\n    'Authorization': 'Basic ' + auth,\n    'Content-Type': 'application/x-www-form-urlencoded'\n  },\n  body: 'MessagingServiceSid=' + encodeURIComponent(messagingServiceSid) + '&To=' + encodeURIComponent(phone) + '&Body=' + encodeURIComponent(msgBody)\n});\nreturn [{ json: { ...data, sms_sid: result.sid, sms_status: result.status } }];"},"id":"node-sms","name":"SMS Confirmation — Twilio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,304]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"leads-froids","mode":"name"},"text":"=*Cold lead — a nurture*\n\n*{{ $json.name }}* | {{ $json.company }}\n{{ $json.email }}\n\n*Message:* {{ $json.message }}\n*AI reason:* {{ $json.reason }}\n\n_Enregistre dans Airtable. Relance recommandee sous 24h._","otherOptions":{}},"id":"node-nurture","name":"Slack Cold Nurture","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1648,530],"webhookId":"a4218133-a09e-4621-b406-e139074abe99","credentials":{"slackApi":{"id":"2A4Lj5Qm3bQzB9c0","name":"Slack account"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"success\": true, \"message\": \"Lead received\" }","options":{}},"id":"node-respond","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1888,304]}],"connections":{"Lead Capture Webhook":{"main":[[{"node":"Validate Fields","type":"main","index":0}]]},"Validate Fields":{"main":[[{"node":"AI Lead Qualification","type":"main","index":0}]]},"AI Lead Qualification":{"main":[[{"node":"Parse AI Score","type":"main","index":0}]]},"Parse AI Score":{"main":[[{"node":"CRM — Airtable","type":"main","index":0}]]},"CRM — Airtable":{"main":[[{"node":"Route by Score","type":"main","index":0}]]},"Route by Score":{"main":[[{"node":"Slack Sales Alert","type":"main","index":0},{"node":"SMS Confirmation — Twilio","type":"main","index":0}],[{"node":"Slack Cold Nurture","type":"main","index":0}]]},"Slack Sales Alert":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"SMS Confirmation — Twilio":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Slack Cold Nurture":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","activeVersionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","versionCounter":55,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T03:09:15.848Z","createdAt":"2026-03-21T03:09:15.848Z","role":"workflow:owner","workflowId":"yoFumIpVN3yHSrIx","projectId":"nNBMtaQsB8v77pUA","project":{"updatedAt":"2026-03-21T02:49:52.057Z","createdAt":"2026-03-21T02:48:11.224Z","id":"nNBMtaQsB8v77pUA","name":"Fares WebMind <fares@webmindlab.tech>","type":"personal","icon":null,"description":null,"creatorId":"19aea2f9-6ce9-4cf4-ade8-007691c98446"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-23T01:19:25.860Z","createdAt":"2026-03-23T01:19:25.860Z","versionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","workflowId":"yoFumIpVN3yHSrIx","nodes":[{"parameters":{"httpMethod":"POST","path":"lead-capture","responseMode":"responseNode","options":{}},"id":"node-webhook","name":"Lead Capture Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"2eefb58c-ab57-4cad-99c4-d61608f09c94"},{"parameters":{"jsCode":"const body = $input.first().json.body ?? $input.first().json;\nconst { name, email, phone, company, message } = body;\nif (!name || !email || !message) throw new Error('Missing required fields: name, email, message');\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) throw new Error('Invalid email format');\nif (body.website) throw new Error('Spam detected');\nreturn [{ json: { name, email, phone: phone||'', company: company||'', message } }];"},"id":"node-validate","name":"Validate Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 300, \"messages\": [{ \"role\": \"user\", \"content\": \"B2B lead qualification for a digital automation agency. Reply ONLY with valid JSON: {\\\"score\\\": \\\"Hot|Warm|Cold\\\", \\\"reason\\\": \\\"one sentence\\\", \\\"intent\\\": \\\"one sentence\\\"}\\n\\nHot = clear business need + decision-maker\\nWarm = interest but vague\\nCold = no clear intent\\n\\nName: {{ $json.name }}\\nCompany: {{ $json.company }}\\nMessage: {{ $json.message }}\" }] }","options":{}},"id":"node-qualify","name":"AI Lead Qualification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,304],"credentials":{"anthropicApi":{"id":"ce1nWiRGSuHpfrze","name":"Anthropic account"}}},{"parameters":{"jsCode":"const content = $input.first().json.content[0].text;\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = { score: 'Warm', reason: 'AI parse error - manual review needed', intent: 'Unknown' }; }\nconst lead = $('Validate Fields').first().json;\nreturn [{ json: { ...lead, score: parsed.score, reason: parsed.reason, intent: parsed.intent, qualified_at: new Date().toISOString() } }];"},"id":"node-parse","name":"Parse AI Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFknzmZRW97vPCE","mode":"id"},"table":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","Email":"={{ $json.email }}","Phone":"={{ $json.phone }}","Company":"={{ $json.company }}","Message":"={{ $json.message }}","Score":"={{ $json.score }}","Reason":"={{ $json.reason }}","Intent":"={{ $json.intent }}","Qualified_At":"={{ $json.qualified_at }}"},"matchingColumns":[],"schema":[]},"options":{"typecast":true}},"id":"node-crm","name":"CRM — Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1168,304],"credentials":{"airtableTokenApi":{"id":"8R0QX9LyMuQ7EfzD","name":"Airtable Personal Access Token account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.score }}","rightValue":"Cold","operator":{"type":"string","operation":"notEquals"}}]},"renameOutput":true,"outputKey":"Hot_or_Warm"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.score }}","rightValue":"Cold","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Cold"}]},"options":{}},"id":"node-route","name":"Route by Score","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1408,304]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"leads-chauds","mode":"name"},"text":"=*New lead — {{ $json.score }}*\n\n*{{ $json.name }}* | {{ $json.company }}\n{{ $json.email }} | {{ $json.phone }}\n\n*Intent:* {{ $json.intent }}\n*Reason:* {{ $json.reason }}\n*Message:* {{ $json.message }}\n\n_Qualified at {{ $json.qualified_at }}_","otherOptions":{}},"id":"node-slack","name":"Slack Sales Alert","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1648,64],"webhookId":"a4218133-a09e-4621-b406-e139074abe99","credentials":{"slackApi":{"id":"2A4Lj5Qm3bQzB9c0","name":"Slack account"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst phone = data.phone;\nif (!phone) {\n  return [{ json: { ...data, sms_status: 'skipped_no_phone' } }];\n}\nconst accountSid = $env.TWILIO_ACCOUNT_SID;\nconst authToken = $env.TWILIO_AUTH_TOKEN;\nconst messagingServiceSid = $env.TWILIO_MESSAGING_SERVICE_SID;\nconst msgBody = 'Bonjour ' + data.name + ', merci pour votre interet ! Notre equipe vous contacte sous 60 min. Reservez : https://cal.com/webmind';\nconst auth = Buffer.from(accountSid + ':' + authToken).toString('base64');\nconst result = await $helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.twilio.com/2010-04-01/Accounts/' + accountSid + '/Messages.json',\n  headers: {\n    'Authorization': 'Basic ' + auth,\n    'Content-Type': 'application/x-www-form-urlencoded'\n  },\n  body: 'MessagingServiceSid=' + encodeURIComponent(messagingServiceSid) + '&To=' + encodeURIComponent(phone) + '&Body=' + encodeURIComponent(msgBody)\n});\nreturn [{ json: { ...data, sms_sid: result.sid, sms_status: result.status } }];"},"id":"node-sms","name":"SMS Confirmation — Twilio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,304]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"leads-froids","mode":"name"},"text":"=*Cold lead — a nurture*\n\n*{{ $json.name }}* | {{ $json.company }}\n{{ $json.email }}\n\n*Message:* {{ $json.message }}\n*AI reason:* {{ $json.reason }}\n\n_Enregistre dans Airtable. Relance recommandee sous 24h._","otherOptions":{}},"id":"node-nurture","name":"Slack Cold Nurture","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1648,530],"webhookId":"a4218133-a09e-4621-b406-e139074abe99","credentials":{"slackApi":{"id":"2A4Lj5Qm3bQzB9c0","name":"Slack account"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"success\": true, \"message\": \"Lead received\" }","options":{}},"id":"node-respond","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1888,304]}],"connections":{"Lead Capture Webhook":{"main":[[{"node":"Validate Fields","type":"main","index":0}]]},"Validate Fields":{"main":[[{"node":"AI Lead Qualification","type":"main","index":0}]]},"AI Lead Qualification":{"main":[[{"node":"Parse AI Score","type":"main","index":0}]]},"Parse AI Score":{"main":[[{"node":"CRM — Airtable","type":"main","index":0}]]},"CRM — Airtable":{"main":[[{"node":"Route by Score","type":"main","index":0}]]},"Route by Score":{"main":[[{"node":"Slack Sales Alert","type":"main","index":0},{"node":"SMS Confirmation — Twilio","type":"main","index":0}],[{"node":"Slack Cold Nurture","type":"main","index":0}]]},"Slack Sales Alert":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"SMS Confirmation — Twilio":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Slack Cold Nurture":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"authors":"Fares WebMind","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-23T01:19:26.099Z","id":27,"workflowId":"yoFumIpVN3yHSrIx","versionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","event":"activated","userId":"19aea2f9-6ce9-4cf4-ade8-007691c98446"},{"createdAt":"2026-03-23T01:19:26.251Z","id":29,"workflowId":"yoFumIpVN3yHSrIx","versionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","event":"activated","userId":"19aea2f9-6ce9-4cf4-ade8-007691c98446"},{"createdAt":"2026-03-23T01:19:26.066Z","id":26,"workflowId":"yoFumIpVN3yHSrIx","versionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","event":"deactivated","userId":"19aea2f9-6ce9-4cf4-ade8-007691c98446"},{"createdAt":"2026-03-23T01:19:26.222Z","id":28,"workflowId":"yoFumIpVN3yHSrIx","versionId":"4df1a218-d676-437a-aae2-05cdc4d03ad1","event":"deactivated","userId":"19aea2f9-6ce9-4cf4-ade8-007691c98446"}]}}