lead-engine-workflow.json
{
  "name": "WebMind — Lead Engine (Memory Enabled)",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Lead Capture Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "node-read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 140],
      "parameters": {
        "method": "GET",
        "url": "={{$env.MEMORY_API_URL}}/api/memory?key=lead:{{$json.body.email}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.MEMORY_API_KEY}}" }
          ]
        },
        "options": {
          "allowNoData": true
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-validate",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst { name, email, phone, company, message } = body;\nif (!name || !email || !message) throw new Error('Missing required fields: name, email, message');\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) throw new Error('Invalid email format');\nreturn [{ json: { name, email, phone: phone||'', company: company||'', message } }];"
      }
    },
    {
      "id": "node-qualify",
      "name": "AI Lead Qualification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"claude-3-5-sonnet-20241022\", \"max_tokens\": 300, \"system\": \"Tu es un qualificateur de leads pour WebMind.\\n\\nContexte mémoire du lead :\\n{{ $('Read Memory').first().json.value ?? 'Aucun historique.' }}\", \"messages\": [{ \"role\": \"user\", \"content\": \"Qualifie ce lead (format JSON: {score, reason, intent}):\\nName: {{ $json.name }}\\nCompany: {{ $json.company }}\\nMessage: {{ $json.message }}\" }] }"
      }
    },
    {
      "id": "node-parse",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "jsCode": "const content = $input.first().json.content[0].text;\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = { score: 'Warm', reason: 'AI parse error', intent: 'Unknown' }; }\nconst lead = $('Validate Fields').first().json;\nreturn [{ json: { ...lead, score: parsed.score, reason: parsed.reason, intent: parsed.intent, qualified_at: new Date().toISOString() } }];"
      }
    },
    {
      "id": "node-crm",
      "name": "CRM — Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1160, 300],
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "appFknzmZRW97vPCE", "mode": "id" },
        "table": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Company": "={{ $json.company }}",
            "Score": "={{ $json.score }}",
            "Message": "={{ $json.message }}"
          }
        }
      }
    },
    {
      "id": "node-write-memory",
      "name": "Write Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.MEMORY_API_URL}}/api/memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.MEMORY_API_KEY}}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"key\": \"lead:{{ $('Validate Fields').first().json.email }}\", \"workflow\": \"lead-engine\", \"value\": { \"lastContact\": \"{{ $now }}\", \"score\": \"{{ $json.score }}\", \"reason\": \"{{ $json.reason }}\" } }"
      }
    },
    {
      "id": "node-route",
      "name": "Route by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1640, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.score }}", "rightValue": "Cold", "operator": { "type": "string", "operation": "notEquals" } }]
              },
              "renameOutput": true,
              "outputKey": "Hot_or_Warm"
            }
          ]
        }
      }
    },
    {
      "id": "node-slack",
      "name": "Slack Sales Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1880, 140],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": { "__rl": true, "mode": "name", "value": "sales" },
        "text": "=New lead *{{ $json.score }}* - {{ $json.name }} ({{ $json.company }})"
      }
    },
    {
      "id": "node-email-agency",
      "name": "Agency Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1880, 300],
      "parameters": {
        "to": "fares@webmindlab.tech",
        "subject": "=New Lead: {{ $json.name }} — ({{ $json.score }})",
        "text": "=Détails du lead :\n\n- Nom: {{ $json.name }}\n- Email: {{ $json.email }}\n- Entreprise: {{ $json.company }}\n- Message: {{ $json.message }}\n\n--- AI Analysis ---\n- Score: {{ $json.score }}\n- Raison: {{ $json.reason }}\n- Intention: {{ $json.intent }}\n\nCeci est une notification automatique de WebMind Lead Engine.",
        "options": {
          "appendAttachements": []
        }
      }
    },
    {
      "id": "node-respond",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2120, 304],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Lead received\" }"
      }
    }
  ],
  "connections": {
    "Lead Capture Webhook": {
      "main": [[{ "node": "Read Memory", "type": "main", "index": 0 }]]
    },
    "Read Memory": {
      "main": [[{ "node": "Validate Fields", "type": "main", "index": 0 }]]
    },
    "Validate Fields": {
      "main": [[{ "node": "AI Lead Qualification", "type": "main", "index": 0 }]]
    },
    "AI Lead Qualification": {
      "main": [[{ "node": "Parse AI Score", "type": "main", "index": 0 }]]
    },
    "Parse AI Score": {
      "main": [[{ "node": "CRM — Airtable", "type": "main", "index": 0 }]]
    },
    "CRM — Airtable": {
      "main": [[{ "node": "Write Memory", "type": "main", "index": 0 }]]
    },
    "Write Memory": {
      "main": [[{ "node": "Route by Score", "type": "main", "index": 0 }]]
    },
    "Route by Score": {
      "main": [
        [
          { "node": "Slack Sales Alert", "type": "main", "index": 0 },
          { "node": "Agency Email Alert", "type": "main", "index": 0 }
        ],
        [{ "node": "Webhook Response", "type": "main", "index": 0 }]
      ]
    },
    "Slack Sales Alert": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    },
    "Agency Email Alert": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  }
}
